data/calibration filter=lfs diff=lfs merge=lfs -text
data/original filter=lfs diff=lfs merge=lfs -text
data/process_data/ filter=lfs diff=lfs merge=lfs -text
data/process_data/25_detection.txt filter=lfs diff=lfs merge=lfs -text
data/process_data/2_detection.txt filter=lfs diff=lfs merge=lfs -text
data/process_data/2.jpg filter=lfs diff=lfs merge=lfs -text
data/process_data/114_answer.json filter=lfs diff=lfs merge=lfs -text
data/process_data/114_detection.txt filter=lfs diff=lfs merge=lfs -text
data/process_data/14.json filter=lfs diff=lfs merge=lfs -text
data/process_data/1.jpg filter=lfs diff=lfs merge=lfs -text
data/process_data/25_answer.json filter=lfs diff=lfs merge=lfs -text
data/process_data/sep.json filter=lfs diff=lfs merge=lfs -text
data/process_data/114.json filter=lfs diff=lfs merge=lfs -text
data/process_data/1.json filter=lfs diff=lfs merge=lfs -text
data/process_data/25.json filter=lfs diff=lfs merge=lfs -text
data/process_data/data.log filter=lfs diff=lfs merge=lfs -text
data/process_data/37_answer.json filter=lfs diff=lfs merge=lfs -text
data/process_data/37.jpg filter=lfs diff=lfs merge=lfs -text
data/process_data/37.json filter=lfs diff=lfs merge=lfs -text
data/process_data/14_answer.json filter=lfs diff=lfs merge=lfs -text
data/process_data/14_detection.txt filter=lfs diff=lfs merge=lfs -text
data/process_data/14.jpg filter=lfs diff=lfs merge=lfs -text
data/process_data/2_answer.json filter=lfs diff=lfs merge=lfs -text
data/process_data/2.json filter=lfs diff=lfs merge=lfs -text
data/process_data/114.jpg filter=lfs diff=lfs merge=lfs -text
data/process_data/25.jpg filter=lfs diff=lfs merge=lfs -text
data/process_data/37_detection.txt filter=lfs diff=lfs merge=lfs -text
